@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-Black-normal.c74920662f15.ttf") format('truetype');
font-weight:900;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-Bold-normal.d1e7d01e2fa6.ttf") format('truetype');
font-weight:700;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-ExtraBold-normal.ca3c9213b832.ttf") format('truetype');
font-weight:400;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-ExtraLight-normal.f0bdf46d4204.ttf") format('truetype');
font-weight:400;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-Light-normal.ce6ad045db1d.ttf") format('truetype');
font-weight:300;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-Medium-normal.4644d6932852.ttf") format('truetype');
font-weight:500;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-Regular-normal.825bd5483cbc.ttf") format('truetype');
font-weight:400;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-SemiBold-normal.3d1d522af8b5.ttf") format('truetype');
font-weight:400;
font-style=normal;
}
@font-face {
 font-family:'SairaCondensed';
src:url("../../fonts/custom1/custom1-Thin-normal.5070ce62e9fe.ttf") format('truetype');
font-weight:100;
font-style=normal;
}

.member2__Image#member2__Image4 {
float:left;
background-color:rgba(0, 0, 0, 0);
padding-right:5px;
padding-left:10px;
}
.Text#Text26 {
font-family:SairaCondensed;
font-size:25px;
color:rgb(255, 255, 255);
padding-left:15px;
padding-top:15px;
}
.NavigationItem#NavigationItem19 {
color:rgb(255, 255, 255);
}
.NavigationItem#NavigationItem20 {
color:rgb(255, 255, 255);
font-family:SairaCondensed;
}
.NavigationItem#NavigationItem21 {
color:rgb(255, 255, 255);
}
.NavigationItem#NavigationItem22 {
color:rgb(255, 255, 255);
}
.Navigation#Navigation7 {
color:rgb(255, 255, 255);
font-family:SairaCondensed;
padding-top:15px;
padding-left:15px;
}
.NavigationItem#NavigationItem24 {
margin-right:20px;
color:rgb(255, 255, 255);
font-family:SairaCondensed;
}
.Navigation#Navigation8 {
padding-top:15px;
padding-left:15px;
}
.Navbar#Navbar4 {
background-color:rgba(0, 0, 0, 0);
height:64px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
}
.Header#Header4 {
background-color:rgb(112, 157, 199);
background-image:url("../../assets/okta-bg-wave14.009fa4ea1c3c.svg");
background-repeat:no-repeat;
background-size:cover;
flex-direction:row !important;;
}
.Main#Main2 {
height:50vw;
padding:30px;
}
.Title#Title2 {
color:rgb(67, 67, 67);
font-size:46px;
font-weight:600;
margin-bottom:15px;
}
.Text#Text2 {
margin-bottom:15px;
color:rgb(67, 67, 67);
font-size:20px;
}
.member2__AuroraSearchBar#member2__AuroraSearchBar1 {
width:90%;
}
.Section#Section1 {
background-color:rgba(217, 217, 217, 0.3);
margin-top:20px;
border-radius:5px;
}
.member2__Footer#member2__Footer4 {
flex-direction:row;;
justify-content:flex-start;
align-items:flex-start;
position:static;
}
.Container#Container14 {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
align-content:center;
width:100%;
background-color:rgba(0, 0, 0, 0);
background-image:url("../../assets/okta-bg-wave15.009fa4ea1c3c.svg");
background-repeat:no-repeat;
background-size:cover;
}
.Text#Text27 {
color:rgb(255, 255, 255);
font-family:SairaCondensed;
font-size:24px;
}
.Image#Image25 {
height:32px;
width:32px;
}
.Image#Image26 {
width:32px;
height:32px;
}
.Image#Image27 {
height:32px;
}
.Image#Image28 {
width:121px;
height:43px;
}
.Section#Section23 {
display:flex;
flex-direction:row !important;
justify-content:space-between !important;
align-items:center !important;
width:50%;
}
.Section#Section22 {
width:100%;
-webkit-box-pack:center !important;
justify-content:flex-center !important;
-webkit-box-align:center !important;
align-items:center !important;
flex-direction:column !important;
-webkit-box-orient:horizontal !important;
-webkit-box-direction:normal !important;
}
