<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            FaceCam
        </title>
        {% load staticfiles %}
        {% load static %}

        <meta name="description" content="More info">
        <meta name="keywords" content="More info">
        <link type="text/css" rel="stylesheet" href="../../static/css/normalize-7.0.0.css"/>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Widget/css/Widget.css?v=1.0.24"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Header/css/Header.css?v=1.0.77-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Text/css/Text.css?v=1.0.2"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/NavigationItem/css/NavigationItem.css?v=1.0.1"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Main/css/Main.css?v=1.0.4-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Section/css/Section.css?v=1.0.33-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Title/css/Title.css?v=1.0.110-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/member2/Footer/css/Footer.css?v=1.0.16-beta"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/page-5.css?v=1549135301">
    </head>
    <body id="page-5" pageId="" class="Widget Page" role="page">
        <header id="Header8" class="Widget Header" role="">
            <a href="page-8" id="member2__Image8" class="Widget member2__Image" role=""><img src="../../static/assets/cctv.png"></img></a>
            <nav class="Widget Navbar navbar navbar-toggleable-md navbar-light bg-faded" id="Navbar8" role="navigation navbar">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#Navbar8Responsive" aria-controls="Navbar8Responsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
                <div class="navbar-brand">
                    <div id="Text36" class="Widget Text" role=""><a href="{% url 'index' %}"><span>FaceCam</span></a></div>
                </div>
                <div class="collapse navbar-collapse justify-content-between" id="Navbar8Responsive">

                     {% if user.is_authenticated %}
                        <ul class="Widget Navigation navbar-nav nav" id="Navigation17" role="navigation">
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem48" role="menuitem"> <a href="#" >{{ user.get_username }}</a> </li>
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem49" role="menuitem"> <a href="{% url 'recognWoPy' %}" >FaceCam LiveStream</a> </li>
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem50" role="menuitem"> <a href="#" >Documentations</a> </li>
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem51" role="menuitem"> <a href="#" >Contact</a> </li>
                            <li  style="color:white;" class="Widget NavigationItem nav-item nav-link" id="NavigationItem72" role="menuitem">
                                <a href="{% url 'logout'%}" >Log Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <li style="color:white;" class="Widget NavigationItem nav-item nav-link" id="NavigationItem72" role="menuitem">
                            <a href="{% url 'login'%}?next={{request.path}}" >Login</a>
                        </li>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main id="Main9" class="Widget Main" role="">
            <div id="Container27" class="Widget Container" role="">
                <section id="Section47" class="Widget Section" role="">
                    <h1 id="Title27" class="Widget Title" role="">
                        <p>Information on user</p>
                    </h1>
                    <section id="Section48" class="Widget Section" role=""><img src="../../static/assets/Profile_avatar_placeholder_large.png" id="Image51" class="Widget Image" role=""></img></section>
                    <section id="Section49" class="Widget Section" role="">
                        <div id="Text54" class="Widget Text" role="">
                            <span>LastName: </span>
                        </div>
                        <div id="Text55" class="Widget Text" role="">
                            <span>Firstname: {{ user.get_username }}</span>
                        </div>
                        <div id="Text56" class="Widget Text" role=""><span>Username:</span></div>
                    </section>
                </section>
            </div>
        </main>
        <footer id="member2__Footer7" class="Widget member2__Footer" role="">
            <div id="Container26" class="Widget Container" role="">
                <section id="Section38" class="Widget Section" role="">
                    <div id="Text43" class="Widget Text" role=""></div>
                    <section id="Section39" class="Widget Section" role="">

                    </section>
                </section>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Widget/js/Widget.js?v=1.0.24"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Header/js/Header.js?v=1.0.77-beta"></script>
    <script type="text/javascript" src="../../static/widgets/member2/Image/js/Image.js?v=1.0.34-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/NavigationItem/js/navigationItem.js?v=1.0.1"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Main/js/Main.js?v=1.0.4-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Container/js/Container.js?v=1.0.1"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Section/js/Section.js?v=1.0.33-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Title/js/Title.js?v=1.0.110-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Image/js/Image.js?v=1.0.42-beta"></script>
    <script type="text/javascript" src="../../static/widgets/member2/Footer/js/Footer.js?v=1.0.16-beta"></script>
    <script type="text/javascript">

(function() {
			function onReady() {
				(function() { 
            
         })();
			}

			(document.attachEvent ? document.readyState === 'complete' : document.readyState !== 'loading') ?
				onReady() : document.addEventListener('DOMContentLoaded', onReady);
})();
</script>
</html>