<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>FaceCam</title>
        <meta name="description" content="More info">
        <meta name="keywords" content="More info">
        {% load staticfiles %}
        {% load static %}
        <link rel="shortcut icon" type="image/x-icon" href="../../static/assets">
        <link rel="shortcut icon" type="image/x-icon" href="../../static/assets">
        <link rel="alternate" href="/facecam_livestream_page.html" hreflang="en" />
        <link rel="alternate" href="../fr/facecam_livestream_page.html" hreflang="fr" />
        <link rel="alternate" href="/facecam_livestream_page.html" hreflang="x-default" />
        <link type="text/css" rel="stylesheet" href="../../static/css/normalize-7.0.0.css"/>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Widget/css/Widget.css?v=1.0.24"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Header/css/Header.css?v=1.0.77-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Text/css/Text.css?v=1.0.2"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/NavigationItem/css/NavigationItem.css?v=1.0.1"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Main/css/Main.css?v=1.0.4-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Section/css/Section.css?v=1.0.33-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/_global/Title/css/Title.css?v=1.0.110-beta"/>
        <link type="text/css" rel="stylesheet" href="../../static/widgets/member2/Footer/css/Footer.css?v=1.0.16-beta"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/pages/page-3.css?v=1549135301">
    </head>
    <body id="page-3" pageId="" class="Widget Page" role="page">

        <header id="Header2" class="Widget Header" role="">
            <a href="page-8" id="member2__Image2" class="Widget member2__Image" role=""><img src="../../static/assets/cctv.png"></img></a>
            <nav class="Widget Navbar navbar navbar-toggleable-md navbar-light bg-faded" id="Navbar2" role="navigation navbar">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#Navbar2Responsive" aria-controls="Navbar2Responsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand">
                    <div id="Text16" class="Widget Text" role=""><a href="{% url 'index' %}"<span>FaceCam</span></div>
                </div>
                <div class="collapse navbar-collapse justify-content-between" id="Navbar2Responsive">
                    {% if user.is_authenticated %}
                        <ul class="Widget Navigation navbar-nav nav" id="Navigation3" role="navigation">
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem7" role="menuitem"> <a href="#" >{{ user.get_username }}</a> </li>
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem8" role="menuitem"> <a href="#" >FaceCam LiveStream</a> </li>
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem9" role="menuitem"> <a href="#" >Documentations</a> </li>
                            <li class="Widget NavigationItem nav-item nav-link" id="NavigationItem10" role="menuitem"> <a href="#" >Contact</a> </li>
                            <li  style="color:white;" class="Widget NavigationItem nav-item nav-link" id="NavigationItem11" role="menuitem">
                                <a href="{% url 'logout'%}" >Log Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <li style="color:white;" class="Widget NavigationItem nav-item nav-link" id="NavigationItem72" role="menuitem">
                            <a href="{% url 'login'%}?next={{request.path}}" >Login</a>
                        </li>
                    {% endif %}
                </div>
            </nav>
        </header>
        <style>
            .parent {
              position: relative;
              width: 100%;
              height: 100%;

            }
            .previous, .next {
              position: absolute;
              width: 30%;
              height: 50%;
              top: 0;
              bottom: 0;
              margin: auto;
            }
            .previous {
              left: 0;
              margin-left: 15px;
            }
            .next {
              right: 0;

              margin-right: 400px;

                          }
            .aParent div {
                float: left;
                clear: none;
            }

            #container {


            }
            tr.spaceUnder>td {
                padding-bottom: 1em;
            }
            td,th {
                padding-left: 2em;
            }
        </style>
        <main id="Main8" class="Widget Main" role="">
            <div id="Container19" class="Widget Container" role="">
                <section id="Section31" class="Widget Section" role="">
                    <h1 id="Title19" class="Widget Title" role="">
                        <p>FaceCam Live Stream&nbsp;</p>
                    </h1>
                </section>
                <div id = "Container20" class="parent">
                    <div id = "Container21" class="previous" id="container">
                        <div style="position: relative;">
                            <canvas id="video-canvas" width="100" height="100" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
                            <canvas id="overlay" width="100" height="100" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
                        </div>


                        <input type="checkbox" id="face" name="classifier" value="face" checked>
                        <label for="face">face</label>

  				    </div>

                    <div id = "Container22" class="next" id="visitors">
                        <table>
                            <tr>
                                <th id="v_1"></th>
                                <th id="v_2"></th>
                                <th id="v_3"></th>
                            </tr>
                            <tr>
                                <td><canvas id="visitor1"></canvas></td>
                                <td><canvas id="visitor2"></canvas></td>
                                <td><canvas id="visitor3"></canvas></td>
                            </tr>
                            <tr class ="spaceUnder">
                                <th id="v_4"></th>
                                <th id="v_5"></th>
                                <th id="v_6"></th>
                            </tr>
                            <tr >
                                <td><canvas id="visitor4"></canvas></td>
                                <td><canvas id="visitor5"></canvas></td>
                                <td><canvas id="visitor6"></canvas></td>

                            </tr>
                        </table>

  				     </div>
                </div>



            </div>
            <div id="Container20" class="Widget Container" role=""></div>
            <div id="Container21" class="Widget Container" role=""></div>
            <div id="Container22" class="Widget Container" role=""></div>
        </main>
        <footer style= "bottom: 0" id="member2__Footer2" class="Widget member2__Footer" role="">
            <div id="Container12" class="Widget Container" role="">
                <section id="Section18" class="Widget Section" role="">
                    <div id="Text23" class="Widget Text" role="">
                    <section id="Section19" class="Widget Section" role="">

                    </section>
                </section>
            </div>
        </footer>
    </body>
    {% load staticfiles %}
    {% load static %}
    <script type="text/javascript" src="{% static  'js/jsmpeg.min.js'%}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Widget/js/Widget.js?v=1.0.24"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Header/js/Header.js?v=1.0.77-beta"></script>
    <script type="text/javascript" src="../../static/widgets/member2/Image/js/Image.js?v=1.0.34-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/NavigationItem/js/navigationItem.js?v=1.0.1"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Main/js/Main.js?v=1.0.4-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Container/js/Container.js?v=1.0.1"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Section/js/Section.js?v=1.0.33-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Title/js/Title.js?v=1.0.110-beta"></script>
    <script type="text/javascript" src="../../static/widgets/member2/Footer/js/Footer.js?v=1.0.16-beta"></script>
    <script type="text/javascript" src="../../static/widgets/_global/Image/js/Image.js?v=1.0.42-beta"></script>
    {% load static %}
    <script src="{% static 'js/face-api.js' %}"></script>
    <script type="text/javascript">

		let videoWidth = 640;
		let videoHeight = 480;

		// whether streaming video from the camera.
		let streaming = true;

		let detectFace = document.getElementById('face');
		let detectEye = document.getElementById('eye');


		let faceClassifier = null;
		let eyeClassifier = null;

		let src = null;
		let dstC1 = null;
		let dstC3 = null;
		let dstC4 = null;

		let canvasBuffer = null;
		let canvasBufferCtx = null;

		let visitors = [];
        let visitorsCount = 1;
        input = document.getElementById("video-canvas");


		function startVideoProcessing() {

		    canvasVideo = document.getElementById('video-canvas');

		  canvasBuffer = document.createElement('canvas');
		  canvasBuffer.width = videoWidth;
		  canvasBuffer.height = videoHeight;

		  canvasBufferCtx = canvasBuffer.getContext('2d');



		  //New code :
            loadModels();

		}


        async function loadModels() {
            await faceapi.loadSsdMobilenetv1Model("{% static 'models' %}")
            await faceapi.loadFaceLandmarkModel("{% static 'models' %}");
            await faceapi.loadFaceRecognitionModel("{% static 'models' %}");

            alert("Done loading facerecognition models now encoding dataset ..");
            //const labeledDescriptors = await encode();
            //alert("Descriptions + labels aquired from dataset");

            //const FaceMatcher = await encode();

		    await recogniton();
        }
        function cleanOverlay (ms){

            return new Promise(resolve => setTimeout(resolve,ms))
            console.log("cleaning");
            const context = overlayCanvas.getContext('2d');
            context.clearRect(0,0,overlayCanvas.width,overlayCanvas.height);

        }
        async function encode(){


		    const labels = ['Ahmed_Gabtni' ,'Colombe_Shellariel', 'Jose_Carreras'];

            const labeledFaceDescriptors = await Promise.all(
                labels.map(async label => {
                        // fetch image data from urls and convert blob to HTMLImage element
                        const staticUrl = "{% static 'dataset' %}";
                        const labelUrl ='/'+label+'.png';
                        const imgUrl =staticUrl+labelUrl;

                        const img = await faceapi.fetchImage(imgUrl);

                        // detect the face with the highest score in the image and compute it's landmarks and face descriptor
                        const fullFaceDescription = await faceapi.detectSingleFace(img).withFaceLandmarks().withFaceDescriptor();
                            //.withFaceLandmarks().withFaceDescriptor()

                        if (!fullFaceDescription) {
                          throw new Error('no faces detected for '+label);
                        }else{
                            console.log("Encoding for : "+label);
                        }
                        const faceDescriptors = [fullFaceDescription.descriptor];

                        return new faceapi.LabeledFaceDescriptors(label, faceDescriptors);
                    })
            );
            const maxDescriptorDistance = 0.6;
            return new faceapi.FaceMatcher(labeledFaceDescriptors, maxDescriptorDistance);
        }
        async function recogniton(faceMatcher) {

            const overlayCanvas = document.getElementById('overlay');
            overlayCanvas.width = input.width;
            overlayCanvas.height = input.height;

            const detections = await faceapi.detectAllFaces(input).withFaceLandmarks().withFaceDescriptors();

            faceapi.drawDetection(overlayCanvas, detections, { withScore: true });



            if(detections.length > 0)
            {
                //FaceMtcher results

                /*const labels = ['Ahmed_Gabtni' ,'Colombe_Shellariel', 'Jose_Carreras'];

                const labeledFaceDescriptors = await Promise.all(
                    labels.map(async label => {
                            // fetch image data from urls and convert blob to HTMLImage element
                            const staticUrl = "{% static 'dataset' %}";
                            const labelUrl ='/'+label+'.png';
                            const imgUrl =staticUrl+labelUrl;

                            const img = await faceapi.fetchImage(imgUrl);

                            // detect the face with the highest score in the image and compute it's landmarks and face descriptor
                            const fullFaceDescription = await faceapi.detectSingleFace(img).withFaceLandmarks().withFaceDescriptor();
                                //.withFaceLandmarks().withFaceDescriptor()

                            if (!fullFaceDescription) {
                              throw new Error('no faces detected for '+label);
                            }else{
                                console.log("Encoding for : "+label);
                            }
                            const faceDescriptors = [fullFaceDescription.descriptor];

                            return new faceapi.LabeledFaceDescriptors(label, faceDescriptors);
                        })
                );

                const maxDescriptorDistance = 0.6;
                const faceMatcher = new faceapi.FaceMatcher(labeledFaceDescriptors, maxDescriptorDistance);
                */
                const results = detections.map(fd=> faceMatcher.findBestMatch(fd.descriptor));

                if(results.length > 0){
                        var name = "Unknown";
                        const boxesWithText = results.map((bestMatch, i) => {
                            const box = detections[i].detection.box;
                            const text = bestMatch.toString();
                            name = text;
                            const boxWithText = new faceapi.BoxWithText(box, text);
                            return boxWithText;
                        });
                        faceapi.drawDetection(overlayCanvas, boxesWithText);
                        if(visitors.length <6){
                            canvasVisitor = document.getElementById('visitor'+visitorsCount);
                            canvasVisitorCtx = canvasVisitor.getContext('2d');

                            visitorName = name;
                            visitors.push(visitorName);

                            drawVisitor(canvasVisitorCtx);
                            document.getElementById("v_"+visitorsCount).innerHTML = visitors[visitorsCount-1];
                            visitorsCount +=1 ;

                        }

                }
                else{
                    faceapi.drawDetection(overlayCanvas, detections, { withScore: true });

                    if(visitors.length <6){
                        canvasVisitor = document.getElementById('visitor'+visitorsCount);
                        canvasVisitorCtx = canvasVisitor.getContext('2d');

                        visitorName = "Unknow visitor "+visitorsCount;
                        visitors.push(visitorName);

                        drawVisitor(canvasVisitorCtx);
                        document.getElementById("v_"+visitorsCount).innerHTML = visitors[visitorsCount-1];
                        visitorsCount +=1 ;
                    }


                }

            }
            else if (detections == null)
            {

            }
            setTimeout(() => recogniton());

        }



		function drawVisitor(ctx) {
            ctx.canvas.width = 640/3;
            ctx.canvas.height = 480/2;
            canvasVideoCtx = input.getContext('2d');
            frameData = canvasVideoCtx.getImageData(0, 0, videoWidth, videoHeight)
            var newCanvas = $("<canvas>")
                    .attr("width", frameData.width)
                    .attr("height", frameData.height)[0];
            newCanvas.getContext("2d").putImageData(frameData, 0, 0);
            ctx.scale(ctx.canvas.width/640,ctx.canvas.width/480)
            ctx.drawImage(newCanvas,0,0);


        }



		function initUI() {
		  stats = new Stats();
		  stats.showPanel(0);
		  document.getElementById('container').appendChild(stats.dom);
		}

		function opencvIsReady() {
		  console.log('OpenCV.js is ready');
		  initUI();
		  startVideoProcessing();
		}

        var canvas = document.getElementById('video-canvas');
		var url = 'ws://45.61.49.21:8082/';
		var player = new JSMpeg.Player(url, {canvas: canvas, disableGl: true});
		startVideoProcessing();
	</script>
    <script type="text/javascript">
    </script>
</html>
