 .ListGroup {     
     &.arrow-right {
         li  {
           &::before {
                padding-right: 5px;
                padding-left: 5px;
  				content: url('../assets/glyphicons-halflings-92-arrow-right.png');
			}
         }
     }
      
    .ListItem:nth-of-type(1) {
          &:before {
            content: " " !important;
         }
     }
 }